# macOS system files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# R session state & history (Recommended for R projects)
.Rhistory
.RData
.Rproj.user/
data/raw/
.Rhistory
.Rproj.user/
*.RData
.Renviron
